Django==5.2
google-auth==2.39.0
grpcio==1.71.0
grpcio-status==1.71.0
matplotlib==3.10.1
mediapipe==0.10.21
numpy==1.26.4
pillow==11.2.1
proto-plus==1.26.1
protobuf==4.25.6
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.2
transformers==4.51.3
wordninja==2.0.0
